/* hero */
.hero {
    min-height: 45vh;
    background-color: #333;
}

.hero .title-lg {
    text-transform: capitalize;
    font-family: 'raleway-regular';
}

/* undefined */
.undefined {
    text-align: left;
    align-items: flex-start;
    row-gap: 20px;
}

.search-box {
    width: 100%;
}

.undefined .subline {
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.undefined .subline::after {
    width: 100%;
    border-bottom-color: #dddddd;
}

/* category items */
.post-item {
    box-shadow: 0px 5px 10px #00000018;
}

.post-item .title-md {
    margin-bottom: unset;
}

.post-info {
    flex-grow: 1;
    margin-top: 25px;
    border: unset;
    align-items: center;
}

.read-more {
    margin-top: auto;
    margin-left: unset;
    display: flex;
    align-items: center;
}