@font-face {
  font-family: 'icomoon';
  src:  url('../Fonts/Font-Icon/Icomoon.eot?lami3h');
  src:  url('../Fonts/Font-Icon/Icomoon.eot?lami3h#iefix') format('embedded-opentype'),
    url('../Fonts/Font-Icon/Icomoon.ttf?lami3h') format('truetype'),
    url('../Fonts/Font-Icon/Icomoon.woff?lami3h') format('woff'),
    url('../Fonts/Font-Icon/Icomoon.svg?lami3h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: "\e920";
}
.icon-right:before {
  content: "\e908";
}
.icon-down:before {
  content: "\e91f";
}
.icon-menu:before {
  content: "\e901";
}
.icon-cross:before {
  content: "\e904";
}
.icon-checkmark:before {
  content: "\e914";
}
.icon-search:before {
  content: "\e90a";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-refresh:before {
  content: "\e90f";
}
.icon-truck:before {
  content: "\e91a";
}
.icon-travel:before {
  content: "\e906";
}
.icon-setting:before {
  content: "\e90d";
}
.icon-users:before {
  content: "\e907";
}
.icon-building:before {
  content: "\f0f7";
}
.icon-bulb:before {
  content: "\e90e";
}
.icon-globe:before {
  content: "\e915";
}
.icon-home:before {
  content: "\f015";
}
.icon-phone:before {
  content: "\e942";
}
.icon-clock:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-pinterest:before {
  content: "\e917";
}
.icon-email:before {
  content: "\e900";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-linkedin:before {
  content: "\eaca";
}