/* Animations */
/* site loader */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* show hero */
@keyframes show {
    0% {
        transform: translateY(11%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* values icon */
@keyframes loop {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.7);
    }
}

/* common */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fed03d;
    --primary-color_dark: #d5af34;
    --secondary-color: #333;
    --bg-color: #f4f4f4;
    --bg-color_dark: #1f1f1f;
    --text-color: #747474;
}

::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 9px;
    background-color: #e2e2e2;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color_dark);
}

::-webkit-scrollbar-button {
    background-color: #333;
}

/* site loader */
.site-loader {
    background-color: var(--secondary-color);
    position: fixed;
    inset: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    transition: opacity 0.7s , visibility 0.7s;
}

.loader-img {
    width: 220px;
    height: 75px;
}

.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #9b9b9b;
    border-top: 2px solid var(--primary-color);
    animation: spin 1s linear infinite;
}

/* body */
body,
html {
    scroll-behavior: smooth;
    cursor: context-menu;
    text-align: center;
    font-family: 'raleway-medium' , sans-serif;
    line-height: 1.5;
    color: var(--text-color);
}

/* tags */
ul,
li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

i {
    display: inline-block;
}

button {
    all: unset;
}

p {
    font-size: 15px;
    line-height: 2.2;
}

iframe {
    border: unset;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
/* image alt */
img::before {
    content: '\f128' ' Broken Image of ' attr(alt);
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    background-color: #e6e6e6;
    border: 2px dotted #c8c8c8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 16px 'icomoon' , sans-serif;
    color: #646464;
}

/* form */
form {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;
}

::placeholder {
    text-transform: capitalize;
    font-family: 'raleway-regular';
}

.form-group {
    width: 48%;
    text-transform: uppercase;
    text-align: left;
}

.form-group abbr {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.form-item {
    display: block;
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 8px;
    padding: 14px 10px;
    border: 0.8px solid #dddddd;
    outline: none;
    font-size: 15px;
    transition-duration: 0.25s;
}

.form-item:hover {
    border-color: transparent;
}

.form-group:nth-last-child(2),
.form-group:nth-last-child(3) {
    width: 100%;
}

/* search-box */
.search-box {
    all: unset;
    display: flex;
}

.search-box .form-item {
    margin-top: 0;
}

.search-box .form-item:hover {
    border-color: #dddddd;
}

.btn-search {
    position: relative;
    padding: 13px 16px;
}

.submit-search {
    background-color: #000000;
    border: none;
    cursor: pointer;
    position: absolute;
    inset: 0;
    transition-duration: 0.25s;
}

.submit-search:hover { 
    background-color: var(--primary-color);
}

.btn-search .icon-search {
    cursor: pointer;
    position: relative;
    z-index: 2;
    color: white;
}

/* container */
.container {
    width: min(100%,1250px);
    height: 100%;
    margin: 0 auto;
    padding: 90px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-lg {
    width: min(100%,1440px) !important;
}

.container-sm {
    width: min(85%,800px) !important;
}

/* title */
.title-lg {
    letter-spacing: 2px;
    text-transform: uppercase;
    font: 60px / 1.3 'raleway-extrabold';
    color: #fff;
}

.title-md,
.title-sm {
    text-transform: capitalize;
    font-weight: lighter;
    color: var(--secondary-color);
}

.title-md {
    font: 30px / 1.5 'raleway-regular';
    letter-spacing: 2px;
}

.title-sm {
    font-size: 18px;
}

.subline {
    padding-bottom: 20px;
    margin-bottom: 35px;
    position: relative;
}

.subline::after {
    content: "";
    width: 80%;
    border-bottom: 2px solid var(--primary-color);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* btn */
.btn {
    padding: 13px 28px;
    border: unset;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    font: bold 14px 'raleway-regular';
    transition-duration: 0.25s;
}

.btn-lg {
    padding: 17px 40px;
    font-size: 17px;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.btn-secondary:hover {
    background-color: #fff;
    color: var(--secondary-color);
}

.btn-hide {
    width: calc(100% / 3);
    margin-top: 70px;
    color: var(--secondary-color);
    position: relative;
}

.btn-hide:hover {
    background-color: var(--primary-color);
}

.btn-hide::before,
.btn-hide::after {
    content: '';
    pointer-events: none;
    width: 80%;
    border-top: 2px solid var(--bg-color);
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}

.btn-hide::before {
    left: 110%;
}

.btn-hide::after {
    right: 110%;
}

/* global class */
.section-content {
    width: min(85%,800px);
    margin-bottom: 50px;
}

.parent-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.text-link {
    transition-duration: 0.25s;
}

.text-link:hover {
    color: var(--primary-color) !important;
}

.text-spacial {
    margin-left: 5%;
    padding: 20px 15px;
    border-left: 4px solid var(--primary-color);
    font: italic 15px / 2 sans-serif;
}

/* semicircular */
.parent-semicircular {
    padding: 90px 0;
    position: relative;
}

.semicircular {
    position: absolute;
    inset: 0;
    overflow: hidden;
    visibility: hidden;
}

.semicircular::before,
.semicircular::after {
    content: '';
    width: 200%;
    height: 1150px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    visibility: visible;
}

.semicircular::before {
    top: 0;
    transform: translate(-50%,-93%);
}

.semicircular::after {
    bottom: 0;
    transform: translate(-50%,93%);
}

/* img shadow */
.parent-img-shadow {
    max-height: 70vh;
    overflow: hidden;
    position: relative;
}

.img-shadow {
    padding: 0 12%;
    background-color: var(--primary-color);
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    opacity: 0;
    transform: scaleY(0);
    transition-duration: 0.5s;
}

.parent-img-shadow:hover .img-shadow {
    opacity: 1;
    transform: scaleY(1);
}

.shadow-btn {
    cursor: pointer;
    margin: 0 3px;
    padding: 14px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 20px;
    color: black;
    transition-duration: 0.25s;
}

.shadow-btn:hover {
    background-color: #333;
    color: #fff;
}

.img-shadow .title-sm {
    color: #fff;
}

.img-shadow .title-sm:nth-child(3) {
    font-size: 14px;
}

.cover {
    position: absolute;
    inset: 0;
    z-index: -1;
}

/* modal */
.modal {
    background-color: #000000d7;
    position: fixed;
    inset: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform: scale(0.2);
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.25s;
}

.show-modal {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

/* modal button */
.modal button {
    position: absolute;
    z-index: 100;
}

.modal .btn-close {
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.modal:has(.full) button {
    opacity: 0;
}
.modal:has(.full):hover button {
    opacity: 1;
    background-color: #fff;
    color: #000000;
}

.modal :is(.btn-prev , .btn-next) {
    top: 50%;
    font-size: 26px;
    transform: translateY(-50%);
}

.modal :is(.btn-prev , .btn-next):active {
    transform: translateY(-50%) scale(0.8);
}

.btn-prev {
    left: 1%;
}
.btn-next {
    right: 1%;
}

/* modal img */
.modal-img {
    height: 70%;
    max-width: 60%;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
    cursor: pointer;
    filter: drop-shadow(0px 5px 15px #000000db);
    transition-duration: 0.25s;
}

.modal .full {
    max-width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #000000d7;
    position: absolute;
    z-index: 99;
}

/* modal tab */
.modal .tab {
    padding: 20px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.modal .tab-img {
    max-height: 12vh;
    width: 100px;
    filter: drop-shadow(0px 2px 2px #000000a3);
    cursor: pointer;
    transition-duration: 0.3s;
}

.modal .tab-img:hover {
    transform: translateY(-5%);
}

/* img filter */
.img-filter {
    transition-duration: 0.3s;
}
.img-filter:hover {
    filter: opacity(50%);
}

/* tooltip */
.tooltip {
    position: relative;
}

.tooltip::before,
.tooltip::after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: calc(100% + 15px);
    transform: translateX(-50%);
    transition-duration: 0.25s;
}

.tooltip::before {
    content: attr(data-tooltip);
    padding: 5px 10px;
    background-color: var(--secondary-color);
    border-radius: 3px;
    font: 12px 'raleway-regular';
    color: #fff;
    text-transform: capitalize;
}

.tooltip::after {
    content: '';
    border: 5px solid transparent;
    border-top-color: var(--secondary-color);
    transform: translate(-50%,9px);
}

.tooltip:hover::after,
.tooltip:hover::before {
    opacity: 1;
    visibility: visible;
}

/* HEADER */
.header {
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px #0000001a;
    position: fixed;
    inset: 0;
    z-index: 99;
    transition-duration: 0.25s;
}

.header-secondary {
    height: 65px;
    background-color: #fff;
}

.header .container {
    padding: 0 4%;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 100px;
}

/* website logo */
.website-logo {
    height: 60%;
}

/* menu */
.menu {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 4%;
    transition-duration: 0.25s;
}

.menu-item {
    position: relative;
}

.menu-item::after {
    content: "";
    border: 10px solid transparent;
    border-top: 8px solid #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-100%);
    transition-duration: 0.25s;
}

.menu-item:last-child::after {
    visibility: hidden;
}

.menu-item:has(.submenu):hover::after,
.current-page::after {
    transform: translateX(-50%);
}

.menu-item-link {
    height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--secondary-color);
    transition-duration: 0.25s;
}

/* sub menu */
.submenu {
    visibility: hidden;
    opacity: 0;
    width: 225px;
    background-color: #fff;
    box-shadow: 0 0 10px #0000004d;
    position: absolute;
    top: calc(100% + 30px);
    left: 0;
    transition: 0.5s 0.15s;
}

.menu-item:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.submenu::before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    bottom: 100%;
    left: 17px;
}

.submenu-item {
    border-top: 1px solid #e2e2e2;
}

.submenu-item:first-child {
    border: unset;
}

.submenu-link {
    width: 100%;
    padding: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: left;
    font-size: 14px;
    color: var(--secondary-color);
    transition-duration: 0.25s;
}

.menu-item-link:hover,
.submenu-link:hover,
.current-page {
    color: var(--primary-color);
}

.submenu-btn {
    display: none;
}

/* menu hamburger */
.menu-hamburger {
    display: none;
}

/* MAIN */
#main {
    background-color: #fff;
}

/* hero */
.hero {
    width: 100%;
    min-height: 95vh;
    padding-top: 100px;
    background: no-repeat center 100px;
    background-size: cover;
    position: relative;
    display: grid;
}

.hero .container {
    padding: 50px;
    justify-content: center;
    row-gap: 10px;
    animation: show 0.7s linear;
}

.hero-content {
    letter-spacing: 2px;
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 22px;
    color: var(--primary-color);
}

.hero .btn {
    margin: 15px 8px 0;
}

.hero .btn:hover {
    transform: translateY(-8%);
}

.hero .btn-secondary:hover {
    background-color: var(--primary-color);
}

/* sub hero */
.sub-hero {
    width: 100%;
    background-color: var(--primary-color);
    margin-bottom: 30px;
    padding: 40px 20px 60px;
    position: relative;
}

.sub-hero .btn {
    border: 2px solid #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
}

.sub-hero .btn:hover {
    border-color: var(--secondary-color);
}

/* main column */
.main-column {
    display: flex;
    column-gap: 7%;
    text-align: left;
}

.main-content {
    width: 70%;
}

.main-info {
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.main-info .title-sm {
    text-transform: uppercase;
    letter-spacing: 1px;
    font: bold 12px 'raleway-medium';
}

/* parallax */
.parallax {
    background: url(../Images/Home-Parallax.webp) no-repeat center center fixed;
    background-size: cover;
}

.parallax .title-md {
    color: #fff;
}

.slider {
    width: 100%;
    min-height: 380px;
    position: relative;
}

.slide-item {
    position: absolute;
    inset: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 1s;
}

.show-slide {
    visibility: visible;
    opacity: 1;
}

.slide-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.slide-content {
    margin: 30px 0;
    letter-spacing: 2px;
    font: italic lighter 18px / 1.8 sans-serif;
    color: #fff;
}

.slider .title-sm {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
}

/* radios */
.radios {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.radio {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    transition-duration: 0.25s;
}

.radio:first-child {
    background-color: #fff;
}

.radio:hover {
    background-color: #fff !important;
}

/* news */
.post-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.post-content {
    flex-grow: 1;
    padding: 25px 20px 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.post-item .title-md {
    font-size: 22px;
    margin-bottom: auto;
}

.post-date {
    margin-bottom: 20px;
    padding: 5px 0 15px;
    border-bottom: 2px solid var(--bg-color);
    text-transform: capitalize;
    font-size: 12px;
}

.post-info {
    margin-top: 10px;
    padding: 5px 0;
    border: 1px solid #e7e6e6;
    border-left: unset;
    border-right: unset;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 50px;
    text-transform: capitalize;
    font-size: 12px;
    color: var(--secondary-color);
}

.read-more {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.post-item .text-link {
    color: var(--secondary-color);
}

/* partners */
/* carousel */
.parent-carousel {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.parent-carousel .carousel {
    cursor: grab;
    scroll-behavior: smooth;
    position: relative;
    inset: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition-duration: 0.3s;
}

.carousel.dragging {
    cursor: grabbing;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    padding: 15px;
    object-fit: contain;
    user-select: none;
    width: calc(100% / 5);
}

/* call to action */
.call-to-action {
    min-height: 60vh;
    background: url(../Images/Call-To-Action.webp) no-repeat center 70%;
    background-size: cover;
    background-attachment: fixed;
    text-align: left;
    color: #fff;
    display: grid;
}

.call-to-action .container {
    flex-direction: row;
    justify-content: space-between;
}

.call-to-action .title-lg {
    font-size: 34px;
}

.call-to-action .subline::after {
    left: 0;
    transform: unset;
}

.call-to-action .section-content {
    max-width: 700px;
    margin-bottom: 0;
    text-transform: capitalize;
    font: 20px / 1.5 "raleway-regular";
}

.sub-btn {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.parent-form {
    width: min(90%,800px);
    margin: 0 auto;
    padding: 40px 45px;
    padding-top: 130px;
    background-color: #f4f4f4e9;
    color: var(--text-color);
    position: relative;
}

.parent-form .title-md {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.parent-form form {
    margin-top: 20px;
}

/* FOOTER */
#footer {
    background-color: #1f1f1f;
    border-top: 12px solid #404040;
    text-align: left;
    position: relative;
}

#footer > .container {
    padding: 80px 4%;
    align-items: stretch;
}

#footer .parent-items {
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}

.footer-item:has(.footer-logo) {
    row-gap: 20px;
}

#footer .title-sm {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    color: var(--primary-color);
}

.footer-logo {
    height: 75px;
}

#footer iframe {
    max-width: 100%;
    height: 100%;
}

#footer .list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#footer .list-item {
    display: flex;
}

.list-item p {
    text-transform: capitalize;
    line-height: 1.8;
}

.list-icon {
    margin: 4px 10px 0 0;
}

/* map */
.parent-map {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    background: #404040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    text-align: center;
    color: #fff;
    position: relative;
}

#static-map {
    display: none;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 300px;
}

/* footer nav */
.footer-nav {
    width: 100%;
    background-color: #121212;
    position: absolute;
    top: calc(100% - 1%);
    left: 0;
}

.footer-nav .container {
    padding: 23px 4%;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 100px;
}

.footer-nav p {
    text-transform: uppercase;
    font-size: 12px;
}

.footer-nav .text-link {
    color: #b7b6b6;
}

.social-media {
    display: flex;
    margin-right: 50px;
}

.social-media-icon {
    margin: 0 8px;
    padding: 4px;
    font-size: 18px;
    transition-duration: 0.25s;
}

.social-media-icon:hover {
    opacity: 0.7;
}

/* scroll up page */
.scroll-up-page {
    padding: 9px;
    background-color: #333;
    border-radius: 3px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99;
    font-size: 32px;
    color: #fff;
    transition-duration: 0.25s;
}

.scroll-up-page:hover {
    background-color: var(--primary-color);
}

.scroll-up-hide {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
}

/* Responsive */
@media (max-width: 1024px) {
    p {
        line-height: 1.9;
    }

    /* title */
    .title-lg {
        font-size: 52px;
    }

    /* global class */
    .parent-items {
        grid-template-columns: repeat(2,1fr) !important;
    }

    /* HEADER */
    .menu {
        width: 100%;
        flex-direction: column;
        justify-content: unset;
        position: absolute;
        top: 100%;
        left: 0;
        visibility: hidden;
        opacity: 0;
    }

    .show-menu {
        visibility: visible ;
        opacity: 1 ;
    }
    
    .menu-item::after {
        display: none;
    }

    .menu-item:last-child {
        box-shadow: 0px 20px 20px #00000018;
    }
    
    .menu-item-link {
        height: auto;
        padding: 20px;
        background-color: #fff;
        border-top: 1px solid #00000020;
        color: var(--secondary-color);
    }

    .menu-item-link .btn {
        all: unset;
    }

    .menu-item-link:hover,
    .current-page {
        background-color: var(--primary-color);
        border-color: #e2e2e2;
        color: #fff;
    }
    
    .submenu {
        width: 100%;
        height: 0;
        box-shadow: unset;
        position: relative;
        top: 0;
        overflow-y: hidden;
        transition-delay: 0s;
    }

    .show-submenu {
        height: 247px;
        visibility: visible;
        opacity: 1;
    }

    .submenu::before {
        display: none;
    }

    .submenu-item:first-child {
        border-top: 1px solid #e2e2e2;
    }
    
    .submenu-link:hover {
        background-color: var(--primary-color);
        color: #fff;
    }

    .submenu-btn {
        display: block;
        padding: 20px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 24px;
        transition-duration: 0.25s;
    }

    .submenu-btn:hover {
        background-color: var(--primary-color);
        color: #fff;
    }

    .menu-hamburger {
        display: block;
        cursor: pointer;
        font-size: 38px;
        color: var(--primary-color);
        transition-duration: 0.25s;
    }

    .menu-hamburger.icon-close {
        padding-top: 4px;
        transform: rotate(-180deg);
    }

    /* MAIN */
    .carousel img{
        width: calc(100% / 4);
    }

    .call-to-action .container {
        flex-direction: column;
        row-gap: 60px;
    }

    /* FOOTER */
    #footer .parent-items {
        row-gap: 60px;
    }

    .footer-item:has(.footer-logo) {
        grid-column: span 2;
        align-items: center;
        text-align: center;
    }

    .footer-item:has(.parent-map) {
        grid-column: span 2;
        min-height: 300px;
    }
}

@media (max-width: 768px) {
    /* form */
    .form-group {
        width: 100%;
    }

    /* container */
    .container {
        padding: 70px 30px;
    }

    /* title */
    .title-lg {
        font-size: 48px;
    }

    .title-md {
        font-size: 26px;
    }

    /* btn */
    .btn-hide {
        width: 100%;
    }

    .btn-hide::before,
    .btn-hide::after {
        width: 100%;
        left: 0;
    }

    .btn-hide::before {
        top: 150%;
    }

    .btn-hide::after {
        top: -50%;
    }

    /* global class */
    .parent-items {
        grid-template-columns: repeat(1,1fr) !important;
        row-gap: 20px;
    }

    .parent-semicircular {
        padding: 70px 0;
    }

    /* modal */
    .modal button {
        padding: 8px;
    }
    
    .modal :is(.btn-prev , .btn-next) {
        top: 95%;
    }

    .btn-prev {
        left: 25%;
    }
    .btn-next {
        right: 25%;
    }

    .modal-img {
        max-width: 80%;
    }

    .modal .tab {
        margin-bottom: 60px;
    }

    /* MAIN */
    .slider {
        min-height: 420px;
    }

    .carousel img {
        width: calc(100% / 3);
    }

    .main-column {
        flex-wrap: wrap;
    }

    .main-content,
    .main-info {
        width: 100%;
    }

    /* FOOTER */
    .footer-item:has(.footer-logo),
    .footer-item:has(.parent-map) {
        grid-column: span 1;
    }

    #footer iframe {
        min-height: 300px;
    }

    /* scroll up page */
    .scroll-up-page {
        transform: scale(0.9);
    }
}

@media (max-width:600px) {
    /* form */
    form {
        padding: 20px 15px;
    }

    .form-item {
        padding: 12px 8px;
    }

    /* title */
    .title-lg {
        font-size: 42px;
    }

    /* btn */
    .btn {
        padding: 10px 22px;
        line-height: 1.5;
    }

    .btn-lg {
        padding: 14px 22px;
    }

    /* global class */
    .semicircular::before,
    .semicircular::after {
        height: 900px;
    }

    /* HEADER */
    .header {
        height: 80px;
    }

    /* MAIN */
    .hero {
        padding-top: 80px;
        background-position-y: 80px;
    }

    .hero .container {
        padding: 30px;
    }

    .sub-hero {
        padding: 30px 20px 50px;
    }

    .slider {
        min-height: 470px;
    }

    .carousel img{
        width: calc(100% / 2);
    }

    .call-to-action .title-md {
        font-size: 26px;
    }
    
    .parent-form {
        width: 100%;
        padding: 30px;
        padding-top: 115px;
    }

    /* FOOTER */
    .footer-item:has(.footer-logo){
        align-items: flex-start;
        text-align: left;
    }

    .footer-nav .container {
        flex-direction: column;
        text-align: center;
        row-gap: 25px;
    }

    .social-media {
        margin-right: 0;
    }
}

@media (max-width:426px) {
    /* form */
    form {
        padding: 20px 0;
    }
    
    /* container */
    .container {
        padding: 50px 20px;
    }

    /* title */
    .title-lg {
        font-size: 38px;
    }

    /* global class */
    .parent-semicircular {
        padding: 50px 0;
    }

    .semicircular::before,
    .semicircular::after {
        height: 700px;
    }

    /* MAIN */
    .hero .container {
        padding: 10px;
    }

    .hero-content {
        font-size: 20px;
    }

    .slider {
        min-height: 520px;
    }
}

@media (max-width:376px) {
    /* title */
    .title-lg {
        font-size: 34px;
    }

    .title-md {
        font-size: 23px;
    }

    /* btn */
    .btn-lg {
        padding: 12px 12px;
        font-size: 15px;
    }

    /* MAIN */
    .slider {
        min-height: 580px;
    }
}
/* THE END */