/* hero */
.hero {
    background-image: url(../Images/Project-02-Hero.jpg);
    background-position-y: 20px;
}

/* call to action */
.call-to-action {
    background-image: url(../Images/Project-02-Call-To-Action.jpg);
}
/* THE END */