/* Main */
#main .subline {
    text-align: left;
}

#main .subline::after {
    width: 30px;
    left: 0;
    transform: unset;
}

/* main column */
.main-column {
    margin-bottom: 60px;
}
/* main content */
.main-content p {
    margin-bottom: 25px;
}

/* main-info */
.main-info .list-item {
    margin: 7px 0 22px;
    text-transform: capitalize;
}

/* gallery */
.gallery {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

.gallery :first-child {
    grid-row: span 2;
}

.gallery-img {
    cursor: pointer;
    transition-duration: 0.3s;
}

.gallery-img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* Responsive */
@media (max-width: 768px) {
    .main-column {
        row-gap: 25px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }
}
/* THE END */